<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0">
       <div id="container" style="height: 100%"></div>

       <!-- 新添加的jQuery -->
       <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
       <!-- End -->

       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=aalVKoBRT7dPXm5maPbTayRyBW72Mc6Q"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript">
          var dom = document.getElementById("container");
          var myChart = echarts.init(dom);
          var app = {};
          option = null;
          app.title = '热力图与百度地图扩展';
            //获取数据
          $.get('gps.json', function (data) {
                var points = [];
                //坐标转换函数需要用到的常数
                var piObj = {
                x_PI : 3.14159265358979324 * 3000.0 / 180.0,
                 PIs : 3.1415926535897932384626,
                 a : 6378245.0,
                ee : 0.00669342162296594323
                }
             //定义坐标转换函数   
            function gcToDb(lng, lat) {
                var z = Math.sqrt(lng * lng + lat * lat) + 0.00002 * Math.sin(lat * piObj.x_PI);
                var theta = Math.atan2(lat, lng) + 0.000003 * Math.cos(lng * piObj.x_PI);
                var bd_lng = z * Math.cos(theta) + 0.0065;
                var bd_lat = z * Math.sin(theta) + 0.006;
                return [bd_lng, bd_lat]
            }
                //处理json数据
                for(var i=0;i<data.data.length;i++){
                    points.push(gcToDb(data.data[i][1],data.data[i][2]).concat(0.3));
                }
              myChart.setOption(option = {
                  animation: false,
                  bmap: {
                      center: [104.0979169109,30.7000041200],
                      zoom: 14,
                      roam: true
                  },
                  visualMap: {
                      show: false,
                      top: 'top',
                      min: 0,
                      max: 5,
                      seriesIndex: 0,
                      calculable: true,
                      inRange: {
                          color: ['blue', 'blue', 'green','green','yellow','yellow','red']
                      }
                  },
                  series: [{
                      type: 'heatmap',
                      coordinateSystem: 'bmap',
                      data: points,
                      pointSize: 5,
                      blurSize: 6
                  }]
              });
              if (!app.inNode) {
                  // 添加百度地图插件
                  var bmap = myChart.getModel().getComponent('bmap').getBMap();
                  bmap.addControl(new BMap.MapTypeControl());
              }
          });
          ;
          if (option && typeof option === "object") {
              myChart.setOption(option, true);
          }
       </script>
   </body>
</html>