<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="d6a93ce02aba4c549200e03495385f1f" style="width:900px; height:500px;"></div>
    <script>
        var chart_d6a93ce02aba4c549200e03495385f1f = echarts.init(
            document.getElementById('d6a93ce02aba4c549200e03495385f1f'), 'white', {renderer: 'canvas'});
        var option_d6a93ce02aba4c549200e03495385f1f = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "2016_11_01",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "0-5min",
                    561
                ],
                [
                    "5-10min",
                    12292
                ],
                [
                    "10-15min",
                    34522
                ],
                [
                    "15-20min",
                    41619
                ],
                [
                    "20-25min",
                    37804
                ],
                [
                    "25-30min",
                    28297
                ],
                [
                    "30-35min",
                    19398
                ],
                [
                    "35-40min",
                    12398
                ],
                [
                    "40-45min",
                    7756
                ],
                [
                    "45-50min",
                    5071
                ],
                [
                    "50-55min55-60min",
                    3341
                ],
                [
                    "60-65min",
                    2104
                ],
                [
                    "65-70min",
                    1435
                ],
                [
                    "70-75min",
                    898
                ],
                [
                    "75-80min",
                    625
                ],
                [
                    "80-85min",
                    410
                ],
                [
                    "85-90min",
                    266
                ],
                [
                    "90-95min",
                    180
                ],
                [
                    "95-100min",
                    115
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "2016_11_05",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "0-5min",
                    591
                ],
                [
                    "5-10min",
                    13556
                ],
                [
                    "10-15min",
                    37086
                ],
                [
                    "15-20min",
                    45552
                ],
                [
                    "20-25min",
                    42226
                ],
                [
                    "25-30min",
                    32428
                ],
                [
                    "30-35min",
                    23451
                ],
                [
                    "35-40min",
                    15943
                ],
                [
                    "40-45min",
                    10757
                ],
                [
                    "45-50min",
                    7181
                ],
                [
                    "50-55min55-60min",
                    4756
                ],
                [
                    "60-65min",
                    3087
                ],
                [
                    "65-70min",
                    2075
                ],
                [
                    "70-75min",
                    1307
                ],
                [
                    "75-80min",
                    892
                ],
                [
                    "80-85min",
                    603
                ],
                [
                    "85-90min",
                    405
                ],
                [
                    "90-95min",
                    282
                ],
                [
                    "95-100min",
                    174
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2016_11_01",
                "2016_11_05"
            ],
            "selected": {
                "2016_11_01": true,
                "2016_11_05": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "0-5min",
                "5-10min",
                "10-15min",
                "15-20min",
                "20-25min",
                "25-30min",
                "30-35min",
                "35-40min",
                "40-45min",
                "45-50min",
                "50-55min55-60min",
                "60-65min",
                "65-70min",
                "70-75min",
                "75-80min",
                "80-85min",
                "85-90min",
                "90-95min",
                "95-100min"
            ]
        }
    ],
    "title": [
        {
            "text": "\u5750\u8f66\u65f6\u957f\u5206\u5e03\u6298\u7ebf\u56fe"
        }
    ]
};
        chart_d6a93ce02aba4c549200e03495385f1f.setOption(option_d6a93ce02aba4c549200e03495385f1f);
    </script>
</body>
</html>
